.app{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  justify-content: center;
}

.api-consumer-wrapper{
  width: 100%;
}

.app-header{
  font-size: 35px;
  color: #013243;
  margin: 10px 30px;
}

/* APIConsumer Component */

.api-consumer-component-container{
  margin: 50px 0px;
  padding: 20px;
  background-color: #013243;
  color: #fff;
}

.api-request-container{
  display: flex;
  margin: 15px;
}

.textarea-container, .response-container{
  display: flex;
  width: 40%;
  padding: 20px 15px;
}

.textarea-container > textarea{
  width: 100%;
}

.request-submit-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.request-submit{
  font-size: 50px;
}

.container-name{
  font-size: 25px;
  margin-left: 20px;
}

.request-error-message{
  height: 20px;
  color: red;
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center
}

/* /APIConsumer Component */